@import url('https://use.typekit.net/ekb5xkt.css');

.h1 {
  font-family: 'mr-eaves-sans', sans-serif;
  font-weight: 800;
  font-style: normal;
  color: rgb(71, 71, 71);
}

.links {
  font-family: 'logic-monospace', mono;
  font-weight: 300;
  font-style: normal;
  color: rgb(29, 29, 29);
}
