@import url('https://use.typekit.net/ekb5xkt.css');

.h1 {
  font-family: 'mr-eaves-sans', sans-serif;
  font-weight: 800;
  font-style: normal;
  color: rgb(71, 71, 71);
}

.links {
  font-family: 'mr-eaves-modern', sans-serif;
  font-weight: 200;
  font-style: normal;
}
